html {
 max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
 
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fcfbff;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.14'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Dancing Script', cursive;
  overflow-x: hidden;

}

.container {
  width: auto;
  max-width: 900px;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: rgba(255,255,255,0.4);
  box-shadow:0 10px 10px 10px rgba(0,0,0,0.2);
}


.quote {
  font-size: 3rem;
  font-weight: bold;

}
.long-text {
  font-size: 2rem;
  font-weight: bold;

}
.long-quote {
  font-size: 2rem;
}


.fa-quote-left {
  font-size: 4rem;
}


.author {
  font-style: italic;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;;
  margin-top: 10px;
}


.buttons  {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 10px;
  
}

.button {
  border:none;
  outline: none;
  background-color: black;
  color: white;
  padding: 0.5rem 1.5rem ;
  box-shadow: 0 0.3rem  rgba(121,121,121,0.4);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
}

.button:hover {
  filter: brightness(150%);
}

.button:active {
  box-shadow: 0 0.1rem grba(255,255,255,0.4);
  transform: translate(0 ,0.1rem );
}

#tweet:hover {
  color: #38a1f4;
  
}

/* loader */
.loader {
  border: 16px solid #d4c9c9;
  border-radius: 50%;
  border-top: 16px solid #0ea1e6;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media Quiries */
@media screen and (max-width:1000px) {
  .container {
    
    margin: auto 10px ;
  
  }

  .quote {
    font-size: 2rem;
  }

  .author {
    font-size: 1rem;
  }


}